<aside>

	<section class="categories-outer">
		<h1>Categories</h1>
		<div class="categories">
			<ul>
				{{#categories}}
					<li>
						<a href="{{slug}}">{{title}}</a> ({{count}})
					</li>
				{{/categories}}
			<ul>
		</div>
	</section>

	<section class="archive-outer">
		<h1>Archive</h1>
		<div class="archive">
			<ul>
				{{#archives}}
					<li>
						<a href="{{slug}}">{{title}}</a> ({{count}})
					</li>
				{{/archives}}
			<ul>
		</div>
	</section>

</aside>