<footer class="clearfix">
	<div class="footer-left">
		&copy; {{year}} {{title}}
	</div>
	<div class="footer-right align-right">
		<a href="#">Backboned-v2-Theme</a> by <a href="http://www.emanuel-kluge.de/">Emanuel Kluge</a>
	</div>
</footer>