<header class="main-header-inner">
	<h1>
		<a href="{{home}}" class="light-link">{{sitename}}</a>
	</h1>
	<p class="description">{{{description}}}</p>
	<i class="fa fa-spinner fa-spin page-loading" aria-hidden="true"></i>
</header>