<div class="clearfix">
	<div class="previous-posts page-link">
		{{# prev_link}}
			<i class="icon-chevron-left" aria-hidden="true"></i>
			<a href="{{prev_link}}">Previous posts</a>
		{{/prev_link}}
	</div>
	<div class="next-posts page-link align-right">
		{{# next_link}}
			<a href="{{next_link}}">Next posts</a>
			<i class="icon-chevron-right" aria-hidden="true"></i>
		{{/next_link}}
	</div>
</div>