<section class="post-single page">
	<article class="post page" id="post-{{ID}}">
		<h1>{{post_title}}</h1>
		<div class="post-body">{{{post_content}}}</div>
		<footer class="post-meta">
			<div class="author-date">
				<small>Written on {{nice_date}} by {{author.display_name}}</small>
			</div>
		</footer>
	</article>
</section>