<div id="main-header" class="main-header"></div>
<div id="main-nav" class="main-nav"></div>
<div id="content" class="content clearfix">
	<div class="posts-outer">
		<div id="posts" class="posts"></div>
		<div id="comments-list" class="comments-list"></div>
		<div id="comment-form" class="comment-form"></div>
		<div id="page-links" class="page-links"></div>
	</div>
	<div id="main-aside" class="main-aside"></div>
</div>
<div id="main-footer" class="main-footer"></div>