<div id="main-header" class="main-header">{{> main-header}}</div>
<div id="main-nav" class="main-nav">{{> main-nav}}</div>
<div id="content" class="content clearfix">
	<div class="posts-outer">
		<div id="posts" class="posts">{{> posts}}</div>
		<div id="page-links" class="page-links">{{> page-links}}</div>
	</div>
	<div id="main-aside" class="main-aside">{{> main-aside}}</div>
</div>
<div id="main-footer" class="main-footer">{{> main-footer}}</div>