/*
 * Colors
**/
$white: #FFF;
$grey: #999;
$green: #0e4c5a;
$orange: #f4572c;
$yellow: #f4b027;
$red: #f42c2c;

$link: $orange;
$link-hover: darken($link, 10%);
$light-link: $yellow;
$light-link-hover: darken($light-link, 10%);
$background: lighten(desaturate($orange, 85%), 10%);
$content-background: $white;
$content-border: $grey;
$color: darken($green, 15%);

$main-width: 960px;
$content-width: 570px;
$left-col: percentage(620/960);
$left-col-margin: percentage(40/960);
$right-col: percentage(300/960);